{% extends 'base/auth_base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="user-ath-box">
    <h4>{% trans "Request Your Password" %}</h4>
    <form method='POST' action="{% url 'account_reset_password' %}" class="user-ath-form">
        {% if form.errors %}
        <div class="note note-lg note-no-icon note-danger">
            <p>{{ form.errors }}</p>
        </div>
        {% endif %}
        {% comment %} <div class="note note-lg note-no-icon note-success">
            <p>Password recovery instruction sent to your email, Please check.</p>
        </div> {% endcomment %}
        {% csrf_token %}
        <div class="input-item">{{ form.email }}</div>
        <div class="gaps"></div>
        {% blocktrans %}
        <div class="d-flex justify-content-between align-items-center"><button class="btn btn-primary">Reset</button><span>
        <a href="{{ login_url }}" class="simple-link"><em class="ti ti-arrow-right"></em> Login Here</a></span></div>
        {% endblocktrans %}
    </form>
</div>
{% endblock content %}