<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load account socialaccount %}
<html dir="ltr" lang="en" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Pecwill">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!-- Site Title  -->
    <title>User Center - me2u</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.bundled751.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/styled751.css' %} ">
</head>

<body class="user-ath">
    <div class="user-ath-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8  text-center">
                    <div class="user-ath-logo"><a href="#"><img src="{% static 'images/logo-sm.png' %}" srcset="{% static 'images/logo-sm2x.png 2x' %}"
                                alt="icon"></a></div>
                    {% block content %}
                    
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div><!-- JavaScript (include all script here) -->
    <script src="{% static 'js/jquery.bundled751.js' %}"></script>
    <script src="{% static 'js/scriptd751.js' %}"></script>
</body>
</html>