<!DOCTYPE html>
{% load i18n %}{% get_available_languages as LANGUAGES %}
{% load static %}
{% load account socialaccount %}
<html dir="ltr" lang="en" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Pecwill">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="me2u is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!-- Site Title  -->
    <title>User Center - me2u</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.bundled751.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/styled751.css' %} ">
    {% block css %}
    {% endblock css %}
</head>

<body class="user-dashboard">
    <div class="topbar">
        <div class="topbar-md d-lg-none">
        <!---->
            <div class="container">
                <div class="d-flex align-items-center justify-content-between"><a href="#" class="toggle-nav">
                        <div class="toggle-icon"><span class="toggle-line"></span><span class="toggle-line"></span><span
                                class="toggle-line"></span><span class="toggle-line"></span></div>
                    </a><!-- .toggle-nav -->
                    <div class="site-logo"><a href="index-2.html" class="site-brand"><img src="{% static 'images/logo.png' %}" alt="logo"
                                srcset="{% static 'images/logo2x.png 2x' %}"></a></div><!-- .site-logo -->
                    <div class="dropdown topbar-action-item topbar-action-user"><a href="#" data-toggle="dropdown">
                            <img class="icon" src="{% static 'images/user-thumb-sm.png' %}" alt="thumb"> </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="user-dropdown">
                                <div class="user-dropdown-head">
                                    <h6 class="user-dropdown-name">{{ user.get_full_name }} <span>({{ user.username }})</span></h6><span
                                        class="user-dropdown-email">{{ user.email }}</span>
                                </div>
                                <div class="user-dropdown-balance">
                                    <h6>ICO TOKEN BALANCE</h6>
                                    <h3>120,000,000 IC0X</h3>
                                    <ul>
                                        <li>1.240 BTC</li>
                                        <li>19.043 ETH</li>
                                        <li>6,500.13 USD</li>
                                    </ul>
                                </div>
                                <ul class="user-dropdown-btns btn-grp guttar-10px">
                                    {% if not verified_email %}<li><a href="{% url 'account_email' %}" class="btn btn-xs btn-warning">Confirm Email</a></li>{% endif %}
                                    <li><a href="kyc.html" class="btn btn-xs btn-warning">KYC Pending</a></li>
                                </ul>
                                <div class="gaps-1x"></div>
                                <ul class="user-dropdown-links">
                                    <li><a href="{% url 'user_account' %}"><i class="ti ti-id-badge"></i>{% trans 'My Profile' %}</a></li>
                                    <li><a href="security.html"><i class="ti ti-lock"></i>{% trans "Security" %}</a></li>
                                    <li><a href="activity.html"><i class="ti ti-eye"></i>{% trans "Activity" %}</a></li>
                                </ul>
                                <ul class="user-dropdown-links">
                                    <li><a href="{% url 'account_logout' %}"><i class="ti ti-power-off"></i> {% trans 'Logout' %} </a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .toggle-action -->
                </div><!-- .container -->
            </div><!-- .container -->
        </div><!-- .topbar-md -->
        <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="topbar-lg d-none d-lg-block">
                    <div class="site-logo"><a href="index-2.html" class="site-brand"><img src="{% static 'images/logo.png' %}" alt="logo"
                                srcset="{% static 'images/logo2x.png 2x' %}"></a></div><!-- .site-logo -->
                </div><!-- .topbar-lg -->
                <div class="topbar-action d-none d-lg-block">
                    <ul class="topbar-action-list">
                        <li class="topbar-action-item topbar-action-link"><a href="#"><em class="ti ti-home"></em>{% trans 'Go to main site' %} </a></li><!-- .topbar-action-item -->
                        <li class="dropdown topbar-action-item topbar-action-language"><a href="#" data-toggle="dropdown">
                                EN <em class="ti ti-angle-down"></em> </a>
                            <ul class="dropdown-menu">
                            {% for code, langauge in LANGUAGES %}
                                <li><a href="#">{{ langauge }}</a></li>
                            {% endfor %}
                            </ul>
                        </li><!-- .topbar-action-item -->
                        <li class="dropdown topbar-action-item topbar-action-user"><a href="#" data-toggle="dropdown">
                                <img class="icon" src="{% static 'images/user-thumb-sm.png' %}" alt="thumb"> </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="user-dropdown">
                                    <div class="user-dropdown-head">
                                        <h6 class="user-dropdown-name">{{ user.get_full_name }} <span>({{ user.username }})</span></h6><span
                                            class="user-dropdown-email">{{ user.email }}</span>
                                    </div>
                                    <div class="user-dropdown-balance">
                                        <h6>ICO TOKEN BALANCE</h6>
                                        <h3>120,000,000 IC0X</h3>
                                        <ul>
                                            <li>1.240 BTC</li>
                                            <li>19.043 ETH</li>
                                            <li>6,500.13 USD</li>
                                        </ul>
                                    </div>
                                    <ul class="user-dropdown-links">
                                        <li><a href="{% url 'user_account' %}"><i class="ti ti-id-badge"></i>{% trans 'My Profile' %} </a></li>
                                        <li><a href="security.html"><i class="ti ti-lock"></i>{% trans "Security" %}</a></li>
                                        <li><a href="activity.html"><i class="ti ti-eye"></i>{% trans "Activity" %}</a></li>
                                    </ul>
                                    <ul class="user-dropdown-links">
                                        <li><a href="{% url 'account_logout' %}"><i class="ti ti-power-off"></i>{% trans 'Logout' %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li><!-- .topbar-action-item -->
                    </ul><!-- .topbar-action-list -->
                </div><!-- .topbar-action -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div><!-- TopBar End -->
    <div class="user-wraper">
        <div class="container">
            <div class="d-flex">
                <div class="user-sidebar">
                    <div class="user-sidebar-overlay"></div>
                    <div class="user-box d-none d-lg-block">
                        <div class="user-image"><img src="{% static 'images/user-thumb-lg.png' %}" alt="thumb"></div>
                        <h6 class="user-name">{{ user.get_full_name }}</h6>
                        <div class="user-uid">{% trans "Username:" %} <span>{{ user.username }}</span></div>
                        <ul class="btn-grp guttar-10px">
                            {% if not verified_email %}<li><a href="{% url 'account_email' %}" class="btn btn-xs btn-warning">Confirm Email</a></li>{% endif %}
                            <li><a href="kyc.html" class="btn btn-xs btn-warning">KYC Pending</a></li>
                        </ul>
                    </div><!-- .user-box -->
                    <ul class="user-icon-nav">
                        <li><a href="index-2.html"><em class="ti ti-dashboard"></em>Dashboard</a></li>
                        <li><a href="kyc.html"><em class="ti ti-files"></em>KYC Application</a></li>
                        <li><a href="{% url 'user_offer_list' %}"><em class="ti ti-pie-chart"></em>{% trans "Offer" %}</a></li>
                        <li><a href="{% url 'user_trade_list' %}"><em class="ti ti-control-shuffle"></em>{% trans "Trade" %}</a></li>
                        <li><a href="referrals.html"><em class="ti ti-infinite"></em>Referral</a></li>
                        <li><a href="{% url 'user_account' %}"><em class="ti ti-user"></em>{% trans "Account" %}</a></li>
                        <li><a href="security.html"><em class="ti ti-lock"></em>Security</a></li>
                    </ul><!-- .user-icon-nav -->
                    <div class="user-sidebar-sap"></div><!-- .user-sidebar-sap -->
                    <ul class="user-nav">
                        <li><a href="how-to.html">How to buy?</a></li>
                        <li><a href="faq.html">Faqs</a></li>
                        <li><a href="#">Whitepaper</a></li>
                        <li>Contact Support<span>info@icocrypto.com</span></li>
                    </ul><!-- .user-nav -->
                    <div class="d-lg-none">
                        <div class="user-sidebar-sap"></div>
                        <div class="gaps-1x"></div>
                        <ul class="topbar-action-list">
                            <li class="topbar-action-item topbar-action-link"><a href="#"><em class="ti ti-home"></em>
                                    {% trans "Go to main site" %}</a></li><!-- .topbar-action-item -->
                            <li class="dropup topbar-action-item topbar-action-language"><a href="#" data-toggle="dropdown"
                                    aria-haspopup="true"> EN <em class="ti ti-angle-up"></em> </a>
                                <ul class="dropdown-menu">
                                    {% for code, langauge in LANGUAGES %}
                                    <li><a href="#">{{ langauge }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li><!-- .topbar-action-item -->
                        </ul><!-- .topbar-action-list -->
                    </div>
                </div><!-- .user-sidebar -->
                    {% block content %}
                    {% endblock content %}
                <!-- .user-content -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div><!-- UserWraper End -->
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-7"><span class="footer-copyright">Copyright 2018, <a href="#">me2u</a>. {% trans 'All Rights Reserved.' %}</span></div><!-- .col -->
                <div class="col-md-5 text-md-right">
                    <ul class="footer-links">
                        <li><a href="policy.html">{% trans "Privacy Policy" %}</a></li>
                        <li><a href="policy.html">{% trans "Terms of Service" %}</a></li>
                    </ul>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- FooterBar End -->
    <!-- JavaScript (include all script here) -->
    <script src="{% static 'js/jquery.bundled751.js' %}"></script>
    <script src="{% static 'js/scriptd751.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>