{% extends 'base/landing_base.html' %}
{% block content %}{% load i18n %}
	<!-- home -->
	<section class="home home--ellipse">
		<!-- particles -->
		<div id="particles-js" class="home__particles"></div>
		<!-- end particles -->

		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-5 offset-xl-0">
					<div class="home__content">
						<h1 class="home__title">{% trans "Safely buy and sell Cryptocurrency" %}</h1>
						<p class="home__text">{% trans "Fast and error free. Just the way you like it" %}</p>
						<a href="{% url 'account_signup' %}" class="btn btn--shadow">{% trans "get started" %}</a>
					</div>
				</div>

				<div class="col-xl-6 offset-xl-1">
					<div class="home__content">
						<form action="#" class="calculate">
						<div class="row">
							<div class="col-12 col-sm-7 col-md-5 col-xl-5">
								<input type="text" class="form__input" placeholder="Hashrate">
							</div>

							<div class="col-12 col-sm-5 col-md-3 col-xl-3">
								<div class="form__select-wrap">
									<select class="form__select">
										<option value="ths">TH/s</option>
										<option value="phs">PH/s</option>
									</select>
								</div>
							</div>

							<div class="col-12 col-md-4 col-xl-4">
								<button class="btn btn--center" type="button">{% trans "Give me the best" %}</button>
							</div>

							<div class="col-12">
								<p class="calculate__text">0.000 000 00 BTC ($0) / 0.000 000 00 BCH ($0)<br>(will change based on mining difficulty and Bitcoin price)</p>
								<span class="calculate__info">Estimated 24 hour revenue<a href="#"><i class="ti-info"></i></a></span>
							</div>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>

		<a href="#services" data-scroll class="home__btn">
			<i class="ti-angle-double-down"></i>
		</a>
	</section>
	<!-- end home -->

	<!-- services -->
	<section class="section" id="services">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
					<h2 class="section__title">{% trans "Features" %}</h2>
					<p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed aut eos, <b>natus</b> magnam, aperiam voluptates.</p>
				</div>
				<!-- end section title -->
			</div>

			<div class="row">
				<div class="col-12 col-md-6 col-xl-3">
					<!-- service -->
					<div class="service">
						<i class="ti-bolt"></i>
						<h3 class="service__title">Instant Connection</h3>
						<p class="service__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered <b>alteration in some form</b>, by injected.</p>
					</div>
					<!-- end service -->
				</div>

				<div class="col-12 col-md-6 col-xl-3">
					<!-- service -->
					<div class="service">
						<i class="ti-wallet"></i>
						<h3 class="service__title">Instant Conclusion</h3>
						<p class="service__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
					</div>
					<!-- end service -->
				</div>

				<div class="col-12 col-md-6 col-xl-3">
					<!-- service -->
					<div class="service">
						<i class="ti-stats-up"></i>
						<h3 class="service__title">Detailed Statistics</h3>
						<p class="service__text">There are many variations of passages of Lorem Ipsum available, but the <a href="#">majority</a> have suffered alteration in some form, by injected.</p>
					</div>
					<!-- end service -->
				</div>

				<div class="col-12 col-md-6 col-xl-3">
					<!-- service -->
					<div class="service">
						<i class="ti-harddrives"></i>
						<h3 class="service__title">Power Distribution</h3>
						<p class="service__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
					</div>
					<!-- end service -->
				</div>
			</div>
		</div>
	</section>
	<!-- end services -->

	<!-- video -->
	<div class="section section--bg" data-bg="img/section/section-bg2.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- section title -->
					<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
						<a class="section__video" href="../../../vimeo.com/45830194.html"><i class="ti-control-play"></i></a>
						<h2 class="section__title section__title--white">Why Choose Us?</h2>
						<p class="section__text section__text--white section__text--head">Check out our mining farm setup. To bring you the best we must hire the best.</p>
					</div>
					<!-- end section title -->
				</div>
			</div>
		</div>
	</div>
	<!-- end video -->

	<!-- currencies -->
	<section class="section">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
					<h2 class="section__title">Supported currencies</h2>
					<p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed aut eos, natus magnam, aperiam voluptates.</p>
				</div>
				<!-- end section title -->
			</div>

			<div class="row">
				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<!-- currenc -->
					<div class="currenc">
						<i class="cc BTC currenc__icon"></i>
						<span class="currenc__name">Bitcoin</span>
						<span class="currenc__hash">43.1 PH/s</span>
					</div>
					<!-- end currenc -->
				</div>

				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<!-- currenc -->
					<div class="currenc">
						<i class="cc ETC-alt currenc__icon"></i>
						<span class="currenc__name">Ethereum Classic</span>
						<span class="currenc__hash">20.0 GH/s</span>
					</div>
					<!-- end currenc -->
				</div>

				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<!-- currenc -->
					<div class="currenc">
						<i class="cc ETH currenc__icon"></i>
						<span class="currenc__name">Ethereum</span>
						<span class="currenc__hash">120.1 GH/s</span>
					</div>
					<!-- end currenc -->
				</div>

				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<!-- currenc -->
					<div class="currenc">
						<i class="cc START currenc__icon"></i>
						<span class="currenc__name">Startcoin</span>
						<span class="currenc__hash">28.6 kH/s</span>
					</div>
					<!-- end currenc -->
				</div>

				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<!-- currenc -->
					<div class="currenc">
						<i class="cc LTC currenc__icon"></i>
						<span class="currenc__name">Litecoin</span>
						<span class="currenc__hash">2.7 GH/s</span>
					</div>
					<!-- end currenc -->
				</div>

				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<!-- currenc -->
					<div class="currenc">
						<i class="cc XMR currenc__icon"></i>
						<span class="currenc__name">Monero</span>
						<span class="currenc__hash">44.6 MH/s</span>
					</div>
					<!-- end currenc -->
				</div>

				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<!-- currenc -->
					<div class="currenc">
						<i class="cc VTC currenc__icon"></i>
						<span class="currenc__name">Vertcoin</span>
						<span class="currenc__hash">1.6 MH/s</span>
					</div>
					<!-- end currenc -->
				</div>

				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<!-- currenc -->
					<div class="currenc">
						<i class="cc IFC currenc__icon"></i>
						<span class="currenc__name">Infinitecoin</span>
						<span class="currenc__hash">184.1 kH/s</span>
					</div>
					<!-- end currenc -->
				</div>

				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<!-- currenc -->
					<div class="currenc">
						<i class="cc SLS currenc__icon"></i>
						<span class="currenc__name">Salus</span>
						<span class="currenc__hash">6.2 MH/s</span>
					</div>
					<!-- end currenc -->
				</div>

				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<!-- currenc -->
					<div class="currenc">
						<i class="cc XPM currenc__icon"></i>
						<span class="currenc__name">PrimeCoin</span>
						<span class="currenc__hash">12.1 MH/s</span>
					</div>
					<!-- end currenc -->
				</div>

				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<!-- currenc -->
					<div class="currenc">
						<i class="cc DASH currenc__icon"></i>
						<span class="currenc__name">Dash</span>
						<span class="currenc__hash">198.8 kH/s</span>
					</div>
					<!-- end currenc -->
				</div>

				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<!-- currenc -->
					<div class="currenc">
						<i class="cc SDC currenc__icon"></i>
						<span class="currenc__name">Shadow</span>
						<span class="currenc__hash">13.5 MH/s</span>
					</div>
					<!-- end currenc -->
				</div>

				<div class="col-12">
					<a href="#" class="btn btn--center btn--top50 btn--shadow">get started</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end currencies -->

	<!-- calculator -->
	<section class="section">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title section__title--margin">How Much Will I Earn?</h2>
				</div>
				<!-- end section title -->

				<!-- form -->
				<div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
					<form action="#" class="calculate">
						<div class="row">
							<div class="col-12 col-sm-7 col-md-5 col-xl-5">
								<input type="text" class="form__input" placeholder="Hashrate">
							</div>

							<div class="col-12 col-sm-5 col-md-3 col-xl-3">
								<div class="form__select-wrap">
									<select class="form__select">
										<option value="ths">TH/s</option>
										<option value="phs">PH/s</option>
									</select>
								</div>
							</div>

							<div class="col-12 col-md-4 col-xl-4">
								<button class="btn btn--center" type="button">Calculate</button>
							</div>

							<div class="col-12">
								<p class="calculate__text">0.000 000 00 BTC ($0) / 0.000 000 00 BCH ($0)<br>(will change based on mining difficulty and Bitcoin price)</p>
								<span class="calculate__info">Estimated 24 hour revenue<a href="#"><i class="ti-info"></i></a></span>
							</div>
						</div>
					</form>
				</div>
				<!-- end form -->
			</div>
		</div>
	</section>
	<!-- end calculator -->

	<!-- pricing -->
	<section class="section section--border-bottom">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
					<h2 class="section__title">Pricing</h2>
					<p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed aut eos, <b>natus</b> magnam, aperiam voluptates.</p>
				</div>
				<!-- end section title -->
			</div>

			<div class="row">
				<div class="col-12 col-lg-10 offset-lg-1 col-xl-12 offset-xl-0">
					<!-- price -->
					<div class="price">
						<h3 class="price__title">Small</h3>
						<ul class="price__list">
							<li><b>Minimal Hashedrate:</b> 1 MH/s</li>
							<li><b>Service pay:</b> 0.005$ / 1 MH/s / 24h</li>
							<li><b>Equipment:</b> HashCoins SCRYPT</li>
							<li>Automatic charging in BTC</li>
							<li><b>1 year</b></li>
						</ul>
						<span class="price__value">$7.50</span>
						<p class="price__text">for 1 MH/s</p>
						<button class="btn btn--border btn--center" type="button">Buy now</button>
					</div>
					<!-- end price -->

					<!-- price -->
					<div class="price">
						<h3 class="price__title">Medium</h3>
						<ul class="price__list">
							<li><b>Minimal Hashedrate:</b> 10 GH/s</li>
							<li><b>Service pay:</b> 0.0035$ / 10 GH/s / 24h</li>
							<li><b>Equipment:</b> HashCoins SHA-256</li>
							<li>Automatic charging in BTC</li>
							<li><b>1 year</b></li>
						</ul>
						<span class="price__value">$2.20</span>
						<p class="price__text">for 10 GH/s</p>
						<button class="btn btn--border btn--center" type="button">Buy now</button>
					</div>
					<!-- end price -->

					<!-- price -->
					<div class="price price--best">
						<h3 class="price__title">Large</h3>
						<ul class="price__list">
							<li><b>Minimal Hashedrate:</b> 100 KH/s</li>
							<li><b>Service pay:</b> No</li>
							<li><b>Equipment:</b> GPU Rigs</li>
							<li>Automatic charging in ETH</li>
							<li><b>1 year</b></li>
						</ul>
						<span class="price__value">$2.20</span>
						<p class="price__text">for 100 KH/s</p>
						<button class="btn btn--center" type="button">Buy now</button>
					</div>
					<!-- end price -->

					<!-- price -->
					<div class="price">
						<h3 class="price__title">Pro</h3>
						<ul class="price__list">
							<li><b>Minimal Hashedrate:</b> 1 MH/s</li>
							<li><b>Service pay:</b> No</li>
							<li><b>Equipment:</b> Multi-Factor</li>
							<li>Automatic charging in DASH</li>
							<li><b>1 year</b></li>
						</ul>
						<span class="price__value">$3.20</span>
						<p class="price__text">for 1 MH/s</p>
						<button class="btn btn--border btn--center" type="button">Buy now</button>
					</div>
					<!-- end price -->
				</div>
			</div>
		</div>
	</section>
	<!-- end pricing -->

	<!-- get started -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<!-- review -->
					<div class="review">
						<blockquote class="review__blockquote">I love the simple, minimal design, lots of white, not an overwhelming amount of features. Compared to some other alternatives I have tried, it was easy to sign up, bug-free, and easy to use so far.</blockquote>
						<span class="review__autor">
							John Doe
							<span>Entrepreneur</span>
						</span>
					</div>
					<!-- end review -->
				</div>

				<div class="col-12 col-lg-6">
					<!-- get started -->
					<div class="get-started">
						<h3 class="get-started__title">Create Account</h3>
						<p class="get-started__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias dicta ratione expedita blanditiis.</p>
						<a href="#" class="btn">get started</a>
					</div>
					<!-- end get started -->
				</div>
			</div>
		</div>
	</section>
	<!-- end get started -->

	<!-- partners -->
	<div class="partners section--border-top section--border-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- partners slider -->
					<div class="owl-carousel partners__slider">
						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="img/partners/activeden-light-background.png" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="img/partners/audiojungle-light-background.png" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="img/partners/codecanyon-light-background.png" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="img/partners/photodune-light-background.png" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="img/partners/themeforest-light-background.png" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="img/partners/videohive-light-background.png" alt="">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="img/partners/3docean-light-background.png" alt="">
							</a>
						</div>
						<!-- end slider item -->
					</div>
					<!-- end partners slider -->
				</div>
			</div>
		</div>
	</div>
	<!-- end partners -->
{% endblock content %}