{% extends 'base/dashboard_base.html' %}
{% block content %}{% load i18n %}
{% with trades as trade_list %}
<div class="user-content">
    <div class="user-panel">
        <h2 class="user-panel-title">{% trans "My Trade Request" %}</h2>
    {% if trade_list %}
        <h4>{% trans "trade Statistics" %}</h4>
        <div class="refferal-statistics">
            <div class="row">
                <div class="col-md-4">
                    <div class="refferal-statistics-item">
                        <h6>{% trans "Trade Count" %}</h6><span>{{trade_list.count}}</span>
                    </div>
                </div><!-- .col -->
                <div class="col-md-4">
                    <div class="refferal-statistics-item">
                        <h6>{% trans "Trade Request" %}</h6><span>31</span>
                    </div>
                </div><!-- .col -->
                <div class="col-md-4">
                    <div class="refferal-statistics-item">
                        <h6>{% trans "Total Sale" %}</h6><span>155</span>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .refferal-statistics -->
        <h4>{% trans "trade List" %}</h4>
        <table class="data-table refferal-table">
            <thead>
                <tr>
                    <th class="refferal-name"><span>{% trans "Trade" %}</span></th>
                    <th class="refferal-tokens"><span>{% trans "Offer" %}</span></th>
                    <th class="refferal-bonus"><span>{% trans "Currency" %}</span></th>
                    <th class="refferal-date"><span>Created</span></th>
                    <th class="refferal-channel"><span>Expires</span></th>
                </tr>
            </thead>
            <tbody>
                {% for trade in trade_list %}
                <tr>
                    <td class="refferal-name">{{trade.trade_uid}}</td>
                    <td class="refferal-tokens"><a href="{% url 'offer_details' trade.offer.offer_id %}">{{trade.offer.offer_id}}</a></td>
                    <td class="refferal-bonus">{{trade.offer.coin}}</td>
                    <td class="refferal-date">{{trade.created_at}}</td>
                    <td class="refferal-channel">08-02-2018</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="status status-empty">
                <div class="status-icon"><em class="ti ti-files"></em>
                    <div class="status-icon-sm"><em class="ti ti-close"></em></div>
                </div><span class="status-text">{% trans "You have not created any trade yet! You should create some." %}</span>
                <a href="{% url 'user_create_trade' %}" class="btn btn-primary">{% trans "Create Now" %}</a>
        </div>
        {% endif %}
    </div><!-- .user-panel -->
</div><!-- .user-content -->
{% endwith %}
{% endblock content %}